<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d626d">  <td>14/04/07 13:22:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminLogin_Test.setup()[pri:0, instance:AdminLogin_Test@a83695]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@23060716</td>   <td></td> </tr>
<tr bgcolor="9d626d">  <td>14/04/07 13:22:24</td>   <td>22795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminLogin_Test.adminTest()[pri:0, instance:AdminLogin_Test@a83695]">adminTest</td> 
  <td>main@23060716</td>   <td></td> </tr>
<tr bgcolor="9d626d">  <td>14/04/07 13:22:40</td>   <td>38264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdminLogin_Test.tearDown()[pri:0, instance:AdminLogin_Test@a83695]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@23060716</td>   <td></td> </tr>
<tr bgcolor="70668a">  <td>14/04/07 13:22:40</td>   <td>38811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustLogin_Test.setup()[pri:0, instance:CustLogin_Test@1347747]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@23060716</td>   <td></td> </tr>
<tr bgcolor="70668a">  <td>14/04/07 13:22:50</td>   <td>48606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustLogin_Test.custTest()[pri:0, instance:CustLogin_Test@1347747]">custTest</td> 
  <td>main@23060716</td>   <td></td> </tr>
<tr bgcolor="70668a">  <td>14/04/07 13:23:00</td>   <td>58306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustLogin_Test.tearDown()[pri:0, instance:CustLogin_Test@1347747]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@23060716</td>   <td></td> </tr>
</table>
