<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd62c3">  <td>14/04/07 14:22:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminLogin_Test.adminTest()[pri:0, instance:AdminLogin_Test@1978f4f]">adminTest</td> 
  <td>main@24728009</td>   <td></td> </tr>
<tr bgcolor="6a6191">  <td>14/04/07 14:22:10</td>   <td>-30920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CustLogin_Test.custTest()[pri:0, instance:CustLogin_Test@182e445]">custTest</td> 
  <td>main@24728009</td>   <td></td> </tr>
<tr bgcolor="6a6191">  <td>14/04/07 14:21:51</td>   <td>-50204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CustLogin_Test.setup()[pri:0, instance:CustLogin_Test@182e445]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@24728009</td>   <td></td> </tr>
<tr bgcolor="bd62c3">  <td>14/04/07 14:22:24</td>   <td>-17254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminLogin_Test.setup()[pri:0, instance:AdminLogin_Test@1978f4f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@24728009</td>   <td></td> </tr>
<tr bgcolor="6a6191">  <td>14/04/07 14:22:23</td>   <td>-17669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CustLogin_Test.tearDown()[pri:0, instance:CustLogin_Test@182e445]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@24728009</td>   <td></td> </tr>
<tr bgcolor="bd62c3">  <td>14/04/07 14:22:53</td>   <td>11559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdminLogin_Test.tearDown()[pri:0, instance:AdminLogin_Test@1978f4f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@24728009</td>   <td></td> </tr>
</table>
